<% content_for :title, t(:design)%>
<% content_for :subTitle, t(:design_sub)%>
<div class="row-fluid">
<div class="span6"><h2>Lorem Ipsum</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed velit velit, commodo a pellentesque non, adipiscing ut
    enim. Nullam fringilla magna vel ante dictum blandit. Suspendisse at diam ut nisl aliquet imperdiet eget at ipsum. In
    ut ante ante. Phasellus vitae enim est, non hendrerit neque. Sed volutpat tincidunt consectetur. Nullam placerat,
    felis rutrum gravida cursus, leo neque lacinia ligula, in suscipit enim elit eget urna. Praesent vel purus nec sapien
    ornare sagittis. Sed sed urna eu nunc posuere scelerisque. Quisque tortor eros, vulputate a dictum at, adipiscing in
    lacus. Maecenas accumsan fringilla purus a interdum. Aliquam ultricies dolor vitae purus tincidunt pretium. Curabitur
    a mi est, in porttitor magna. Suspendisse molestie, mi eget condimentum vestibulum, felis purus semper arcu, suscipit
    lacinia turpis justo adipiscing urna. Sed tellus odio, dictum eget bibendum eget, vestibulum in sem. Sed et neque
    neque, et egestas sem.</p>
</div>
<div class="span6"><h2>Aliquam erat volutpat</h2>
  <p>
    Aenean dictum ante non massa dapibus pretium. Aliquam erat volutpat. Proin urna metus, aliquet non aliquam sed,
    tristique non odio. Sed ligula urna, semper id faucibus non, interdum sit amet lorem. Vestibulum convallis, nulla et
    auctor consequat, libero nulla scelerisque tortor, at tempor sapien metus in nibh. In at odio tortor. Aenean metus
    est, sollicitudin nec suscipit id, semper rhoncus massa. Phasellus bibendum lectus a felis consectetur ac condimentum
    nisi pretium. Fusce at sodales leo. Fusce ut ante vitae augue euismod volutpat.
  </p>
</div>

</div>
<div class="row-fluid">
  <div class="span12"> <h2>Integer suscipit</h2>
    <p>
      Curabitur consequat rutrum turpis non volutpat. Integer suscipit, ipsum vitae tempus eleifend, est lacus imperdiet
      dui, a consectetur justo lectus facilisis dui. Proin ornare justo ut purus accumsan quis sodales odio mattis. Lorem
      ipsum dolor sit amet, consectetur adipiscing elit. Morbi posuere, mauris quis rhoncus sodales, quam mi ornare lectus,
      sit amet imperdiet est elit a velit. Sed eget ultrices nisl. Sed gravida mauris ut felis faucibus vulputate.
    </p>
  </div>
</div>